<!doctype html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>component</title>
    <style>
        .app {
            background: aqua;
        }
    </style>
</head>
<body>
<div class="app" id="app">
    <h2>我是父组件</h2>

    <h4>简易组件模板</h4>
    <btn-component></btn-component>

    <h4>子组件用props接收固定的数据</h4>
    <child-component msg="来自父组件的数据"></child-component>

    <h4>v-model把input中的动态内容传递给子组件</h4>
    <input type="text" v-model="parentMessage">
    <bind-component :msg="parentMessage"></bind-component>
    <bind-component :msg="parentMessage2"></bind-component>

    <h4>把input中的动态内容传递给子组件改变其宽度</h4>
    子组件的宽度：<input type="text" v-model.lazy="width">
    <width-component :prop1="width"></width-component>

    <h4>父组件监听子组件中的事件获取数据</h4>
    您的余额是{{amount1}} <br>
    <amount-component @subclick="amountChange"></amount-component>
    用v-model相当于绑定input事件，当触发input事件时把值传给绑定的对象 <br>
    您的余额是{{amount2}} <br>
    <amount-component v-model="amount2"></amount-component>


    <h4>$parent获取父组件的数据</h4>
    <getparent-component></getparent-component>

    <h4>$refs获取子组件的数据</h4>
    <button @click="getChild">{{init}}</button>

    <h4>独立组件通过中间Vue-bus传递数据</h4>
    <aaa-component ref="aaa"></aaa-component>
    <bbb-component ref="bbb"></bbb-component>

    <h4>slot插槽</h4>
    <slot-component>父组件插入的内容</slot-component>

    <h4>动态组件</h4>
    <component :is="line"></component>
    <button @click="lineSwitch(1)">第一句</button>
    <button @click="lineSwitch(2)">第二句</button>
    <button @click="lineSwitch(3)">第三句</button>
    <button @click="lineSwitch(4)">第四句</button>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./main.js"></script>
</body>
</html>